<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" />
    <title>Simple Play Store</title>
</head>

<body>
    <header>
      <div>
        <h1 style="margin-left: 10px;">Simple Play Store</h1>
      </div>
      <nav id="nav" style="margin-right: 100px;">
        <ul>
          <li class="current"><a href="/">Home</a></li>
          <!-- <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Right Sidebar</a></li> -->
          <li><a href="/login/">Login</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="app-main-card">
        <!-- <img src="static\main_image.png" alt="App Icon" class="app-main-icon"> -->
        <img src="" alt="App Icon" class="app-main-icon">
      </div>
    </div>

    <div class="container">
        <div class="app-card">
            <img src="https://via.placeholder.com/100" alt="App Icon" class="app-icon">
            <div class="app-name">앱 이름 1</div>
            <div class="app-description">이것은 앱의 간단한 설명입니다.</div>
        </div>
        <div class="app-card">
            <img src="https://via.placeholder.com/100" alt="App Icon" class="app-icon">
            <div class="app-name">앱 이름 2</div>
            <div class="app-description">이것은 앱의 간단한 설명입니다.</div>
        </div>
        <div class="app-card">
            <img src="https://via.placeholder.com/100" alt="App Icon" class="app-icon">
            <div class="app-name">앱 이름 3</div>
            <div class="app-description">이것은 앱의 간단한 설명입니다.</div>
        </div>
        <!-- 필요한 만큼 더 추가 -->
    </div>
</body>
</html>
